<div class="header-connect">
  <div class="container">
      <div class="row">
          <div class="col-md-5 col-sm-8  col-xs-12">
              <div class="header-half header-call">
                  <p>
                      <span><i class="pe-7s-call"></i> +1 514 567 1111</span>
                      <span><i class="pe-7s-mail"></i> yulien@realtors.com</span>
                  </p>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
              <div class="header-half header-social">
                  <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-vine"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>  <!-- End of header content-->

<nav class="navbar navbar-default ">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <a [routerLink]="['/home']" class="navbar-brand"><img src="../img/logo.png" alt="" /></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse yamm" id="navigation">
          <div class="button navbar-right">

              <button class="navbar-btn nav-button wow fadeInRight" (click)="onSubmit()" data-wow-delay="0.5s">Submit</button>
          </div>
          <ul class="main-nav nav navbar-nav navbar-right">
              <li class="wow fadeInDown"><a href="#home">Home</a></li>
              <li class="wow fadeInDown"><a href="#trendingProp">Trendng Properties</a></li>
              <li class="wow fadeInDown"><a href="About">About</a></li>
              <li class="wow fadeInDown"><a href="Contact">Contact</a></li>
          </ul>

      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
  <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
          <!-- /.feature title -->
          <h2>Trending properties</h2>
          <p> propriétés de tendance disponibles pour l'achat ou la location </p>
      </div>
  </div>

  <section class="listings">

      <div class="wrapper">
          <ul class="properties_list">
                <li *ngFor="let trendingProperty of trendingProperties | slice : limitStr : limitEnd">
              <!-- <li ng-repeat="trendingProperty in trendingProperties | limitTo : displayCount"> -->
                  <!-- <a href="#viewProp/{{trendingProperty._id}}">state name in Routing - /viewProp/:id -->
                    <a [routerLink]="['/viewProperty', trendingProperty._id]">
                      <img src="assets/img/property_1.jpg" alt="" title="" class="property_img" />
                  </a>
                  <span class="price">{{trendingProperty.Price}}</span>
                  <div class="property_details">
                      <h1>
                          <a>{{trendingProperty.Summary}}</a>
                          <br />
                          {{trendingProperty.City}}
                      </h1>
                      <h2>{{trendingProperty.Kitchen}} kitchens, {{trendingProperty.Bed}} bed, {{trendingProperty.Bath}} bath... <span class="property_size">({{trendingProperty.Area}})</span></h2>
                  </div>
              </li>
          </ul>

          <div *ngIf="viewMore" class="more_listing">
              <a (click)="onViewMore()" class="more_listing_btn" style="cursor: pointer;">View More Listings</a>
          </div>
      </div>
  </section>
</div>